/** {
  border: 1px dotted green;
}*/

h1, h2 {
  font-family: 'Trirong', serif;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #92B6D5;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

p {

}

button {
  font-family: 'Rubik', sans-serif;
  height: 50px;
  font-size: 14px;
  color: white;
  border-color: #004B8D;
  background-color: #88B04B;
  border-width:medium;
  border-radius: 10px;
}

canvas {
  outline: 2px solid #004B8D;
}

#bus-chart {
  position: relative;
  margin: auto;
}

#pie-chart {
  position: relative;
  margin: auto;
}
